<h1>Pessoas</h1>
<% if @pessoas.empty? %>
  <p> Nenhuma pessoa encontrada. </p>
<% else %>
  <table class="table table-bordered table-hover">
    <thead>
      <th>Nome</th>
      <th>Data de nascimento</th>
    </thead>
    <tbody>
      <% @pessoas.each do |pessoa| %>
        <tr>
          <td><%= pessoa.nome %></td>
          <td><%= data(pessoa.data_nascimento) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
